<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mnu.ryokanmaker.mappers.CourseMapper">
<select id="findAll" resultType="com.mnu.ryokanmaker.domain.CourseDTO">
    SELECT restaurant_course_idx AS restaurantCourseIdx, restaurant_course_name AS restaurantCourseName,
           restaurant_course_image AS restaurantCourseImage, restaurant_course_info AS restaurantCourseInfo,
           admin_idx AS adminIdx, restaurant_sale_yn AS restaurantCourseSaleYN
    FROM "RESTAURANT_COURSE"
    WHERE restaurant_sale_yn = 'Y'
    ORDER BY restaurant_course_idx
</select>
</mapper>