<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mnu.ryokanmaker.mapper.MemberMapper">

    <resultMap id="memberResultMap" type="com.mnu.ryokanmaker.domain.MemberDto">
        <id     column="USER_MAIL"          property="userMail"/>
        <result column="USER_PASSWORD"      property="userPassword"/>
        <result column="USER_NICKNAME"      property="userNickname"/>
        <result column="USER_ADDRESS"       property="userAddress"/>
        <result column="USER_COUNTRY"       property="userCountry"/>
        <result column="USER_TEL"           property="userTel"/>
        <result column="USER_LAST_NAME_EN"  property="userLastNameEn"/>
        <result column="USER_FIRST_NAME_EN" property="userFirstNameEn"/>
        <result column="USER_LAST_NAME_JP"  property="userLastNameJp"/>
        <result column="USER_FIRST_NAME_JP" property="userFirstNameJp"/>
    </resultMap>

    <select id="selectByUserMail" parameterType="string" resultMap="memberResultMap">
        SELECT * FROM MEMBER WHERE USER_MAIL = #{userMail}
    </select>

    <insert id="insert" parameterType="com.mnu.ryokanmaker.domain.MemberDto">
        INSERT INTO MEMBER (USER_MAIL, USER_PASSWORD, USER_NICKNAME, USER_ADDRESS, USER_COUNTRY, USER_TEL,
                             USER_LAST_NAME_EN, USER_FIRST_NAME_EN, USER_LAST_NAME_JP, USER_FIRST_NAME_JP)
        VALUES (#{userMail}, #{userPassword}, #{userNickname}, #{userAddress}, #{userCountry}, #{userTel},
                #{userLastNameEn}, #{userFirstNameEn}, #{userLastNameJp}, #{userFirstNameJp})
    </insert>

    <update id="update" parameterType="com.mnu.ryokanmaker.domain.MemberDto">
        UPDATE MEMBER
        SET USER_PASSWORD = #{userPassword},
            USER_NICKNAME = #{userNickname},
            USER_ADDRESS = #{userAddress},
            USER_COUNTRY = #{userCountry},
            USER_TEL = #{userTel},
            USER_LAST_NAME_EN = #{userLastNameEn},
            USER_FIRST_NAME_EN = #{userFirstNameEn},
            USER_LAST_NAME_JP = #{userLastNameJp},
            USER_FIRST_NAME_JP = #{userFirstNameJp}
        WHERE USER_MAIL = #{userMail}
    </update>

    <update id="updatePassword">
        UPDATE MEMBER SET USER_PASSWORD = #{userPassword} WHERE USER_MAIL = #{userMail}
    </update>

    <delete id="deleteByUserMail" parameterType="string">
        DELETE FROM MEMBER WHERE USER_MAIL = #{userMail}
    </delete>

</mapper>
