<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mnu.ryokanmaker.mapper.OnsenMapper">

	<!-- ONSEN_IDX는 IDENTITY(자동 채번)라 INSERT 시 컬럼 목록에서 제외 -->
	<insert id="insertOnsen" parameterType="com.mnu.ryokanmaker.domain.OnsenDto">
		INSERT INTO ONSEN (
			ONSEN_NAME,
			ONSEN_IMAGE,
			ONSEN_INFO,
			ADMIN_IDX,
			ONSEN_SALE_YN,
			ONSEN_MEMO,
			ONSEN_HOUR
		) VALUES (
			#{onsenName},
			#{onsenImage},
			#{onsenInfo},
			#{adminIdx},
			#{onsenSaleYn},
			#{onsenMemo},
			#{onsenHour}
		)
	</insert>

	<select id="selectOnsensByAdmin" resultType="com.mnu.ryokanmaker.domain.OnsenDto">
		SELECT *
		FROM ONSEN
		WHERE ADMIN_IDX = #{adminIdx}
		ORDER BY ONSEN_IDX DESC
	</select>

	<!-- onsenImage가 null이면(새 이미지 없음) 기존 이미지를 그대로 유지 -->
	<update id="updateOnsen" parameterType="com.mnu.ryokanmaker.domain.OnsenDto">
		UPDATE ONSEN
		<set>
			ONSEN_NAME = #{onsenName},
			ONSEN_INFO = #{onsenInfo},
			ONSEN_SALE_YN = #{onsenSaleYn},
			ONSEN_MEMO = #{onsenMemo},
			ONSEN_HOUR = #{onsenHour},
			<if test="onsenImage != null">ONSEN_IMAGE = #{onsenImage},</if>
		</set>
		WHERE ONSEN_IDX = #{onsenIdx}
		  AND ADMIN_IDX = #{adminIdx}
	</update>

	<delete id="deleteOnsen">
		DELETE FROM ONSEN
		WHERE ONSEN_IDX = #{onsenIdx}
		  AND ADMIN_IDX = #{adminIdx}
	</delete>

</mapper>
