<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mnu.ryokanmaker.mappers.PlanMapper">


<select id="findAll" resultType="com.mnu.ryokanmaker.domain.PlanDTO">
    SELECT plan_idx AS planIdx, admin_idx AS adminIdx, plan_name AS planName, plan_image AS planImage,
           plan_includes_meal AS planIncludesMeal, plan_includes_onsen AS planIncludesOnsen,
           plan_info AS planInfo, plan_price AS planPrice, plan_sale_yn AS planSaleYN
    FROM "PLAN"
    WHERE plan_sale_yn = 'Y'
    ORDER BY plan_idx
</select>

<!-- PlanMapper.xml에 추가 -->
<select id="findById" resultType="com.mnu.ryokanmaker.domain.PlanDTO">
    SELECT plan_idx AS planIdx, admin_idx AS adminIdx, plan_name AS planName, plan_image AS planImage,
           plan_includes_meal AS planIncludesMeal, plan_includes_onsen AS planIncludesOnsen,
           plan_info AS planInfo, plan_price AS planPrice, plan_sale_yn AS planSaleYN
    FROM "PLAN"
    WHERE plan_idx = #{planIdx}
</select>

</mapper>

