<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mnu.ryokanmaker.mappers.RoomReservationMapper">
<select id="findOverlapping" resultType="com.mnu.ryokanmaker.domain.RoomReservationDTO">
    SELECT room_resv_num AS roomResvNum, user_mail AS userMail, admin_idx AS adminIdx, room_idx AS roomIdx,
           resv_num AS resvNum, plan_idx AS planIdx, resv_check_in AS resvCheckIn, resv_check_out AS resvCheckOut,
           resv_price AS resvPrice, resv_people AS resvPeople, resv_status AS resvStatus,
           resv_pay_status AS resvPayStatus, resv_pay_method AS resvPayMethod
    FROM "ROOM_RESERVATION"
    WHERE resv_check_in &lt; #{rangeEnd}
      AND resv_check_out &gt; #{rangeStart}
</select>
</mapper>